[user]
    email = greve.stefan@outlook.jp
    name = StefanGreve
    signingkey = F380062B9F847687
[core]
    editor = nvim
    autocrlf = false
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    pager = "delta --syntax-theme='Solarized (dark)' --dark"
	packedGitLimit = 512m
	packedGitWindowSize = 512m
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true
    light = false
    features = decorations
[diff]
    colorMoved = default
[merge]
    conflictstyle = diff3
[blame]
    hyperlinks = true
[init]
    defaultBranch = master
[alias]
    init-empty = !"f() { git init && git commit --allow-empty --allow-empty-message --message ''; }; f"
    unstage = reset HEAD --
    uncommit = reset --soft HEAD^1
    last = log -1 HEAD --stat -p
    graph = log --date-order --graph --all --date=short --pretty=format:\"%x09%C(auto)%h  %C(cyan)%ad  %C(green)%aN  %x09%C(reset)%s\"
    purge = "!f(){ git restore . && git clean -f .; };f"
    push-notes = push origin refs/notes/*
    pull-notes = fetch origin refs/notes/*:refs/notes/*
    orphans = fsck --full
    ls-authors = shortlog --summary --numbered --all --no-merges
    ls-ignored = ls-files --ignored --exclude-standard --others
    ls-untracked = ls-files --exclude-standard --others
[http]
    sslverify = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[url "https://github.com/rust-lang/crates.io-index"]
    insteadOf = https://github.com/rust-lang/crates.io-index
[safe]
    directory = *
[help]
    autocorrect = 30
    format = html
[credential]
    helper = cache
[commit]
    gpgsign = true
[gpg]
    program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
[pack]
	deltaCacheSize = 2047m
	packSizeLimit = 2047m
	windowMemory = 2047m
