[user]
	email = greve.stefan@outlook.jp
	name = StefanGreve
[core]
	editor = nvim
	autocrlf = true
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    pager = "delta --syntax-theme='Solarized (dark)' --dark"
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true
    light = false
    features = decorations
[diff]
    colorMoved = default
[merge]
    conflictstyle = diff3
[blame]
    hyperlinks = true
[init]
	defaultBranch = master
[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^1
	last = log -1 HEAD
	graph = log --graph --oneline --decorate --abbrev-commit
	purge = "!f(){ git restore . && git clean -f .; };f"
[http]
	sslVerify = false
[credential "https://git.swisslab.de"]
	provider = bitbucket
[safe]
	directory = *
[help]
	autocorrect = 30
	format = html
