[user]
	email = greve.stefan@outlook.jp
	name = StefanGreve
[core]
	editor = nvim
	autocrlf = true
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[init]
	defaultBranch = master
[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^1
	last = log -1 HEAD
[http]
	sslVerify = false
[credential "https://git.swisslab.de"]
	provider = bitbucket
[safe]
	directory = *
[help]
	autocorrect = 30
